.rules-card {
  gap: 2rem;
  background-color: var(--card-bg-color);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: var(--card-shadow);
  justify-content: center;
  align-items: center;
}
.rules-list {
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.rules {
  gap: 0.6rem;
  align-items: center;
  color: var(--text-color);
}
.rules-head {
  color: var(--text-color);
  margin: 0;
}
.start-btn {
  background-color: var(--primary-light);
}
