.quiz-home-container {
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  gap: 12rem;
}
.left-section {
  width: 50%;
}
.left-subhead {
  margin: 0;
  color: var(--text-color);
}
.explore-btn {
  background-color: var(--primary-light);
  margin-top: 2rem;
}
.right-section {
  width: 50%;
}
.landing-img {
  object-fit: cover;
  width: 100%;
}
.partition-line {
  width: 50%;
  background-color: var(--nav-border-clr);
}

.quiz-card-container {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.quiz-card {
  width: 25rem;
  height: auto;
  background-color: var(--card-bg-color);
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 0.6rem var(--card-shadow);
}
.card-image {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  overflow: hidden;
}
.quiz-title {
  color: var(--text-color);
  margin: 0;
}
.paragraph-sm {
  color: var(--text-color);
  font-size: 1.6rem;
}
.quiz-card-footer {
  margin: 1rem 0;
}
.play-tag {
  color: var(--text-color);
}
.play-tag:hover {
  color: var(--light-green);
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .quiz-home-container {
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
  }
  .right-section {
    width: 80%;
    order: -1;
  }
  .left-section {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .quiz-card-container {
    flex-direction: column;
    gap: 5rem;
  }
  .right-section {
    width: 100%;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}
