.navbar {
  padding: 1rem 0 0;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 80vw;
  margin: auto;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  border-bottom: 0.2rem solid var(--nav-border-clr);
}
.nav-heading {
  cursor: pointer;
  align-items: center;
}
.nav-logo {
  height: 5rem;
}
.nav-heading-small {
  font-size: 2rem;
  color: var(--text-color);
}
.saved-item {
  height: 3.5rem;
  align-items: center;
  position: relative;
}
.saved-item-container {
  gap: 1.2rem;
  align-items: center;
}
.nav-icon {
  color: var(--text-color);
  margin-right: 1.2rem;
  font-size: 3rem;
  cursor: pointer;
}
